*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.click1{
    background-color: wheat;
    color: rgb(67, 98, 255);
    display: inline-block;
    margin: 50px;
    border: 3px solid;
    padding: 15px 30px;
    transition: all 0.3s ease-in-out;

}
.click1:hover{
    background-color: rgb(67, 98, 255);
    color: wheat;
    transition: all;
    border: 3px solid rgb(67, 98, 255);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.click2{
    background-color: rgb(67, 98, 255);
    color: wheat;
    display: inline-block;
    border: 3px solid rgb(67, 98, 255);
    transition: all 0.3s ease-in-out;
    padding: 14px 30px;
    margin-left: 50px;
}
.click2:hover{
    background-color: wheat;
    color: rgb(67, 98, 255);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border: 3px solid wheat;
}
.click3{
    background-color: wheat;
    color: rgb(67, 98, 255);
    display: inline-block;
    margin: 40px;
    border: 3px solid;
    padding: 14px 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}
.click3:hover{
    background-color: rgb(67, 98, 255);
    color: wheat;
    transition: all 0.3s ease-in-out;
    border: 3px solid rgb(67, 98, 255);
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
}
.click4{
    background-color: rgb(67, 98, 255);
    color: wheat;
    display: inline-block;
    margin: 40px;
    border: 3px solid rgb(67, 98, 255);
    padding: 14px 40px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}
.click4:hover{
    background-color: wheat;
    color: rgb(67, 98, 255);
    transition: all;
    border: 3px solid wheat;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}
.click5{
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(90deg, #00ff99, #0066ff);
    color: white;
    margin: 40px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
.click5:hover{
    background: linear-gradient(90deg,#0066ff, #00ff99);
    transition:  all 0.3s ease-in-out;
}



