*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    /* background-color: ; */
    border: 5px solid;
}
.container{
    width: 500px;
    margin: 20px auto;
    border: 4px solid black;
    width: 50%;
}
.header{
    background-color: rgb(41, 107, 237);
    padding: 20px;
    color: white;
    font-size: 20px;
}
.content{
    padding: 0px auto;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    /* align-items: center; */
    font-size: 20px;
}
.main{
    margin: 0px auto;
    color: white;
    background-color: rgb(35, 175, 35);
    margin-right: 10px;
    padding: 50px;
    margin-top: 5px;
    width: 90%;
    text-align: center;
}
.sidebar{
    margin: 0px auto;
    background-color: blueviolet;
    color: white;
    padding: 80px 40px;
    margin-top: 5px;
    text-align: center;
    width: 60%;
}
.twins{
    display: flex;
    margin: 5px 100px;
    font-size: 20px;
}
.twin1 ,
.twin2{
    flex: 1;
    padding: 50px;
    background-color: orange;
    color: white;
    margin-top: 5px;
    text-align: center;
    margin-left: 5px;

}
.footer{
    background-color: rgb(41, 107, 237);
    padding: 20px;
    color: white;
    padding-top: 20px;
    font-size: 20px;
}
