*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: blueviolet;
}
.logo {
    display: flex;
    align-items: center;
}
.navbar {
    background-color: rgba(255, 255, 255, 0.91);
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin: 10px auto;
    width: 100%;
    border-radius: 50px;
    position: fixed;
}
.logo img{
    border-radius: 50%;
    margin-right: 10px;
}
.logo h1{
    font-weight: bold;
    color: rgb(44, 212, 162);
}
.logo p{
    margin-left: 10px;
    font-size: 12px;
    color: gray;
}
.menu{
    list-style: none;
    display: flex;
    padding: 10px;
    margin-top: 10px;
}
.menu li{
    margin: 0;
    margin-left: 15px;
}
.menu a{
    color: black;
    padding: 10px;
    padding-left: 12px;
    border-radius: 20px;
    text-decoration: none;
}
.active{
    background-color: rgb(164, 75, 246);
}
#first{
    padding-top: 90px;
}